
#game-table {
    float: left;
}
#combination {
  position: relative;
    float: left;
    margin-top: 5px;
}
#pinbox {
  position: absolute;
  right: 0;
  margin-right: 5px;
}
.pin, .spin-ball {
    position: relative;
    display: block;
    float: left;
    background: #d1d1d1;
}
.res {
  display: block;
  float: left;
  background: #a7a7a7;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.spin-ball {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.red-pin { background: #F79941; }
.green-pin { background: #CB262D; }
.brown-pin { background: #5F80C3; }
.blue-pin { background: #47B683; }
.gray-pin { background: #AD59A3; }
.purple-pin { background: #818598; }
.empty-pin { background: #d1d1d1; }
.board-row {
  width: 100%;
  float: left;
}
.container .row {
  margin-bottom: 0;
  padding-top: 10px;
}
.go-button, .set-button {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  background: #fff;
}
.set-button {
  display: block;
}
.hidde-comb {
  position: absolute;
  width: 0px;
  top:0;
  left:0;
  background: #D1D1D1;
  z-index: 200;
}
.hidde-comb-animate {
  width: 100%;
  transition: all 0.5s ease-in-out;
}
.resid11-5 {
  background: #fff;
}
#pinbox .pin {
  background: #fff;
}
.log-display-box {
  position: fixed;
  bottom: -150px;
  z-index: 50000;
  width: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
  transition: all 0.5s ease-in-out;
}
.button-term {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #fff;
  -webkit-box-shadow: 0px -1px 13px 0px rgba(50, 50, 50, 0.61);
  -moz-box-shadow:    0px -1px 13px 0px rgba(50, 50, 50, 0.61);
  box-shadow:         0px -1px 13px 0px rgba(50, 50, 50, 0.61);
}
.open-terminal {
  transition: all 0.5s ease-in-out;
  bottom: 0px;
}
.consoleIcon {
  width: 20px;
  height: 20px;
  margin: auto;
}
